@font-face {
    font-family: 'DM_SansB';
    src: url(../../fonts/DM_Sans/DMSans-Bold.ttf) format('truetype');
}

.firstTitle {
    width: 50%;
    margin: 3rem 5rem 5rem 5rem;
}

.firstTitle h1 {
    font-family: 'DM_SansB';
    font-size: 5rem;
}


.HBNB-container {
    margin-left: 2rem;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.HBNB {
    width: 33%;
    margin-bottom: 2rem;
    min-width: 25rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px 4px rgb(31, 31, 31);
}

.HBNB-description {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.HBNB-description p {
    width: 85%;
    text-align: center;
    font-size: large;
}



