@font-face {
    font-family: 'DM_SansB';
    src: url(../../fonts/DM_Sans/DMSans-Bold.ttf) format('truetype');
}
.firstTitle{
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstTitle h1{
    width: 85%;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
    .firstTitle h1 {
      font-size: 5rem;
    }
  }


.Tech-container {

    margin-bottom: 3rem;
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.Tech-1{
    max-width: 60%;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 2px rgb(31, 31, 31);
}

.Tech-2{
    max-width: 15%;
    max-height: 256px;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 2px rgb(31, 31, 31);
}

.Tech-description {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.Tech-description p {
    width: 80%;
    text-align: center;
    font-size: large;
}


