.carouselEdu {
    max-width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.carouselEdu-container {
    width: 60%;
    min-width: 20rem;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px rgb(22, 22, 22);
    line-height: 1.1rem;
    transition: 1s;
}
.carouselEdu-container img{
    opacity: 0.4;
    transition: 1s;
}

.carouselEdu-container img:hover{
    opacity: 0.7;
    transition: 1s;
}

.textOpa {
    text-shadow: 1px 1px rgb(32, 32, 32);
    transition: 1s;
}


.eduLogos {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    max-width: 100%;
    transition: 1s;
    
}

.link-img{
    max-width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.link-img img{

    max-width: 100%;
    max-height: 40%;
}

.edu-description {

    max-width: 60%;
    min-width: 18rem;
    margin: 2rem;
    margin-bottom: 4rem;
    transition: 1s;

}


@media screen and (min-width: 768px) {
    .edu-description {
      margin-left: 4rem;

    }
    .carouselEdu-container {
        line-height: 1.5rem;
    }
  }

.my-element {
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .my-element.visible {
    opacity: 1;
  }
