@font-face {
    font-family: 'DM_Sans';
    src: url(../../fonts/DM_Sans/DMSans-Regular.ttf) format('truetype');
}

.mixed-chart {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: 1s;
}

.lenguages {
    max-width: 30%;
    font-family: 'DM_SansB';
    text-align: center;
    min-width: 16rem;
    transition: 1s;
}
